html {
    font-size: 15px;
}
#chessBoard{
    margin: 0 auto;
    padding: 0;
    border: 4px solid saddlebrown;
    background-color: saddlebrown;
    width: 24rem;
    height: 24rem;
    float:left;
    margin-left: 35%;
}
.chessTiles{
    display: block;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    float: left;
}
.Piece{
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    transition: 0.2s;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.Piece:hover{
    border: 1px solid yellow;
}
#timers{
    height: 24rem;
    width: 20%;
    border: black 2px solid;
    border-radius: 10px;
    position: absolute;
    right: 7%;
    top: 10px;
}
#timers div{
    width: 70%;
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    border: black 2px solid;
    border-radius: 10px;
    display: block;
    position: relative;
    padding-left:30px;
}
#timer1{
    top: 15px;
}
#timer2{
    top: 190px;
}
#promote{
    display: none;
    background-color: none;
    width: 24rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 24.25rem;
    position:absolute;
    background-color: rgba(139, 69, 19, 0.7);
}
#promote>img{
    display: block;
    float: left;
    border-radius: 50%;
    background-color: none;
    transition: 125ms;
    width: 3rem;
    height: 3rem;
}
#promote>img:first-child{
    margin-left: 6rem;
}
#promote>img:hover {
    background-color: rgb(255, 255, 60);
    border-radius: 0;
}