html {
    font-size: 15px;
}
body {
    margin: 0 auto;
    padding: 0;
}
#wrapper{
    text-align: center;
}
#chessBoard{
    margin: 0 auto;
    padding: 0;
    border: 0.5vw solid saddlebrown;
    background-color: saddlebrown;
    width: 40%;
    display: inline-block;
    margin-top: 1%;
    aspect-ratio: 1/1;
}
.chessTiles{
    display: block;
    margin: 0;
    padding: 0;
    width: 12.5%;
    height: 12.5%;
    float: left;
}
.Piece{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.Piece:hover{
    border: 0.175vw solid yellow;
}
#timers{
    width: 40%;
    aspect-ratio: 10/0.6;
    border: saddlebrown 0.2vw solid;
    border-radius: 2vw;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.7vw;
    
}
#timers div{
    border: 0.1vw solid saddlebrown;
    margin: 0 auto;
    margin-top: 0.7vw;
    margin-left: 0.2vw;
    display: block;
    float: left;
}
#timer1{
    font-size: 1vw;
    width: 15vw;
    color: rgb(180, 105, 60);
    text-shadow: 0.03vw 0.03vw rgb(140, 90, 60);
}
#timer2{
    width: 15vw;
    color: rgb(180, 105, 60);
    text-shadow: 0.03vw 0.03vw rgb(140, 90, 60);
    font-size: 1vw;
}
.information{
    font-size: 1vw;
    margin: 0 auto;
    width: 3vw;
    color: rgb(180, 105, 60);
    text-shadow: 0.03vw 0.03vw rgb(140, 90, 60);
}
#spliter{
    width: 0.2vw;
    font-size: 1vw;
    color: saddlebrown;
    background-color: saddlebrown;
}
#promote{
    display: none;
    background-color: none;
    width: 100%;
    height: 12.5%;
    margin: 0 auto;
    margin-top: 24.25rem;
    position:absolute;
    background-color: rgba(139, 69, 19, 0.7);
}
#promote>img{
    display: block;
    float: left;
    border-radius: 50%;
    background-color: none;
    transition: 125ms;
    width: 3rem;
    height: 3rem;
}
#promote>img:first-child{
    margin-left: 6rem;
}
#promote>img:hover {
    background-color: rgb(255, 255, 60);
    border-radius: 0;
}
#toMenu{
    position: absolute;
    cursor: pointer;
    display: block;
    padding: 0;
    height: 4.5vw;
    width: 4vw;
}
#toMenu > a {
    margin: 0;
    padding: 0;
    font-size: 4vw;
    color: rgba(139, 69, 19, 0.7);
    text-shadow: 0.05vw 0.05vw rgb(140, 90, 60);
    text-decoration: none;
    transition: color 0.7s ease;
    height: 100%;
    width: 100%;
}
#toMenu >a:hover {
    color: rgba(31, 15, 4, 0.7);
    text-shadow: 0.05vw 0.05vw rgba(80, 40, 11, 0.7);
}